$dark-blue: #283444;
$lightGrey: #686c7c;

.centre-content {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#open-modal-button {
  font-family: arial;
  font-size: 18px;
  padding: 20px;
  background: $dark-blue;
  color: white;
  border-radius: 5px;
  margin: 0 auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $lightGrey;
}

.modal-content {
  background-color: #f8f4f4;
}

.top-div {
  border-bottom: 1px solid grey;
}

.modal-heading-container {
  margin-bottom: 25px;
  display: flex;
  overflow: hidden;
}

.modal-heading-container h4 {
  color: #333333;
  margin: 0;
}

.modal-text-container p {
  color: grey;
  margin-top: 0;
}

.modal-buttons {
  background: transparent;
  text-align: center;
  font-style: italic;
  border: 1px solid $dark-blue;
  border-radius: 5px;
  font-weight: 800;
}

.blue-button { 
  background: $dark-blue;
  color: white;
}



@media screen and (max-width: 575px) {
  .top-div {
    padding: 25px 15px;
  }

  .green-tick-container {
    min-width: 30px;
    width: 30px;
  }

  #green-tick {
    width: 20px;
  }

  .modal-heading-container h4 {
    font-size: 20px;
    line-height: 26px;
  }

  .modal-text-container p {
    font-size: 14px;
    line-height: 18px;
  }

  .bottom-div {
    padding: 15px;
  }

  .modal-buttons {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    display: block;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .modal-content {
    width: 75%;
    margin: 0 auto;
  }

  .top-div {
    padding: 40px 40px 25px 40px;
  }

  .green-tick-container {
    min-width: 30px;
    width: 30px;
  }

  #green-tick {
    width: 20px;
  }

  .modal-heading-container h4 {
    font-size: 20px;
    line-height: 26px;
  }

  .modal-text-container p {
    font-size: 14px;
    line-height: 18px;
  }

  .bottom-div {
    padding: 20px 40px;
  }

  .button-container {
    width: max-content;
    margin: 0 auto;
  }

  .modal-buttons {
    display: inline-block;
    width: 150px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .modal-content {
    width: 75%;
    margin: 0 auto;
  }

  .top-div {
    padding: 40px 40px 25px 40px;
  }

  .green-tick-container {
    min-width: 40px;
    width: 40px;
  }

  #green-tick {
    width: 25px;
  }

  .modal-heading-container h4 {
    font-size: 26px;
    line-height: 34px;
  }

  .modal-text-container p {
    font-size: 18px;
    line-height: 24px;
  }

  .bottom-div {
    padding: 25px 45px;
  }

  .button-container {
    width: max-content;
    margin: 0 auto;
  }

  .modal-buttons {
    display: inline-block;
    width: 200px;
    padding: 10px;
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {

  .modal-content {
    width: 900px;
    margin: 0 auto;
  }

  .top-div {
    padding: 50px 50px 30px 50px;
  }

  .green-tick-container {
    min-width: 50px;
    width: 50px;
  }

  #green-tick {
    width: 30px;
  }

  .modal-heading-container h4 {
    font-size: 28px;
    line-height: 36px;
  }

  .modal-text-container p {
    font-size: 20px;
    line-height: 26px;
  }

  .bottom-div {
    padding: 25px 45px;
  }

  .button-container {
    width: max-content;
    margin: 0 auto;
  }

  .modal-buttons {
    display: inline-block;
    width: 200px;
    padding: 10px;
    font-size: 18px;
  }
}